/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }
 */
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
@mixin transition($transitions...) {
  $output: ();

  @each $transition in $transitions {
    $output: append($output, get-transition-properties($transition), comma);
  }
  transition: $output;
}

/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // stylelint-disable-next-line
  *zoom: 1;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}


// HB functions

@mixin background-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin image-fill {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: none;
}

/* Responsive action */

@mixin font-size( $s:null,$m:null,$l:null,$xl:null ) {
  @if type-of($s) == 'number' {
    font-size: $s * 1px;
  }
  @if type-of($m) == 'number' {
    @include media-query($medium-up) {
      font-size: $m * 1px;
    }
  }
  @if type-of($l) == 'number' {
    @include media-query($large-up) {
      font-size: $l * 1px;
    }
  }
  @if type-of($xl) == 'number' {
    @include media-query($widescreen) {
      font-size: $xl * 1px;
    }
  }
}

@mixin margin-top( $s:null,$m:null,$l:null,$xl:null ) {
  @if type-of($s) == 'number' {
    margin-top: $s * 1px;
  }
  @if type-of($m) == 'number' {
    @include media-query($medium-up) {
      margin-top: $m * 1px;
    }
  }
  @if type-of($l) == 'number' {
    @include media-query($large-up) {
      margin-top: $l * 1px;
    }
  }
  @if type-of($xl) == 'number' {
    @include media-query($widescreen) {
      margin-top: $xl * 1px;
    }
  }
}

@mixin margin-bottom( $s:null,$m:null,$l:null,$xl:null ) {
  @if type-of($s) == 'number' {
    margin-bottom: $s * 1px;
  }
  @if type-of($m) == 'number' {
    @include media-query($medium-up) {
      margin-bottom: $m * 1px;
    }
  }
  @if type-of($l) == 'number' {
    @include media-query($large-up) {
      margin-bottom: $l * 1px;
    }
  }
  @if type-of($xl) == 'number' {
    @include media-query($widescreen) {
      margin-bottom: $xl * 1px;
    }
  }
}

@mixin padding-top( $s:null,$m:null,$l:null,$xl:null ) {
  @if type-of($s) == 'number' {
    padding-top: $s * 1px;
  }
  @if type-of($m) == 'number' {
    @include media-query($medium-up) {
      padding-top: $m * 1px;
    }
  }
  @if type-of($l) == 'number' {
    @include media-query($large-up) {
      padding-top: $l * 1px;
    }
  }
  @if type-of($xl) == 'number' {
    @include media-query($widescreen) {
      padding-top: $xl * 1px;
    }
  }
}

@mixin padding-bottom( $s:null,$m:null,$l:null,$xl:null ) {
  @if type-of($s) == 'number' {
    padding-bottom: $s * 1px;
  }
  @if type-of($m) == 'number' {
    @include media-query($medium-up) {
      padding-bottom: $m * 1px;
    }
  }
  @if type-of($l) == 'number' {
    @include media-query($large-up) {
      padding-bottom: $l * 1px;
    }
  }
  @if type-of($xl) == 'number' {
    @include media-query($widescreen) {
      padding-bottom: $xl * 1px;
    }
  }
}