.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 17px 2.5em;
  width: 100%;
  min-width: 200px;
  background-color: $color-accent;
  font-family: $font-body;
  font-weight: $font-body-weight-bold;
  transition: background-color $transition-duration;
  line-height: 1.3333;

  @include media-query($medium-up) {
    width: auto;
  }

  &:hover {
  	background-color: $color-accent-hover;
  }
}

.button--alt {
  @extend .button;
  background-color: transparent;
  border: 1px solid;
  transition: background-color $transition-duration;

  &:hover {
    background-color: $color-accent;
  }
}