.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;

  .no-svg & {
    display: none;
  }
}

.icon--wide {
  width: 40px;
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    img {
      max-width: 100%;
    }

    rect {
      fill: inherit;
      stroke: inherit;
    }
  }
}

svg {
  fill: currentColor;
}

// A generic way to visually hide content while
// remaining accessible to screen readers (h5bp.com)
.icon-fallback-text {
  @include visually-hidden;

  .no-svg & {
    @include visually-shown(static);
  }
}

// Payment icons
.payment-icons {
  user-select: none;
  cursor: default;
}
