.newsletter-signup-form {
	position: relative;
	width: 233px;

	input {
	    border-bottom: 1px solid $color-border;
	    padding: 0.25em 0;
		@include h4;
		width: 100%;
		text-transform: none;
		padding-right: 30px;

		&:focus {
			outline: none;
		}

		&::placeholder {
			text-transform: uppercase;
			color: lighten( $color-body-text, 50 );
		}
	}
}

.newsletter-signup-form__submit {
	position: absolute;
	right: 0;
	top: 5px;
}

#mce-responses {
	margin-top: 1em;
	font-size: 15px;
	line-height: 1.5;

	a {
		border-bottom: 1px solid;
		padding-bottom: 2px;

		&:hover {
			color: $color-accent;
		}
	}
}

#mc_embed_signup div.mce_inline_error {
	margin-top: 0.5em;
	background-color: #b91b00;
}