// Ostia Antica

@font-face {
    font-family: 'Ostia Antica';
    src:    url('~fonts/Ostia_Antica_WEB-Regular.eot');
    src:    url('~fonts/Ostia_Antica_WEB-Regular.eot?#iefix') format('embedded-opentype'),
            url('~fonts/Ostia_Antica_WEB-Regular.woff') format('woff'),
            url('~fonts/Ostia_Antica_WEB-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}


// Apercu

@font-face {
	font-family: 'Apercu';
	src:
		url('~fonts/apercu-regular.woff') format('woff2'),
		url('~fonts/apercu-regular.woff2') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Apercu';
	src:
		url('~fonts/apercu-italic.woff') format('woff2'),
		url('~fonts/apercu-italic.woff2') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Apercu';
	src:
		url('~fonts/apercu-bold.woff') format('woff2'),
		url('~fonts/apercu-bold.woff2') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Apercu Mono';
	src:
		url('~fonts/apercu-mono-regular.woff') format('woff2'),
		url('~fonts/apercu-mono-regular.woff2') format('woff');
	font-weight: 400;
	font-style: normal;
}