form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.6rem;
  max-width: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font: inherit;
  color: inherit;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

.select-wrap {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

select {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 15px 40px 15px 1.25em;
  width: 100%;
  min-width: 200px;
  font-weight: $font-body-weight-bold;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// input[type='email'], input[type='text'] {
//   border-bottom: 1px solid $color-border;
//   padding: 0.25em 0;

//   &:focus {
//     outline: none;
//   }
// }

input[type='number'] {
  background-color: $color-body;
  padding: 0.25em 0.75em;
  max-width: 5em;
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

button,
input/*[type='submit']*/,
label/*[for]*/ {
  // cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background: none;

  &:focus {
    outline: none;
  }
}

textarea {
  min-height: 100px;
  border: 1px solid $color-border-alt;
  display: block;
  width: 100%;
  background-color: $color-body;
  padding: 0.75em;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}
