html {
  background-color: $light-background;
  box-sizing: border-box;
}

main {
  background-color: $color-body;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}


// alternate header full page backgrounds

// white backgrounds
.template-page-quiz {
	main {
		min-height: calc( 100vh - 50px );
	}
}

// backgrounds with colors
.login-page/*, .account-page , .product-single (already same as html bkg) */ {
	min-height: calc( 100vh - 50px );
}


.inner {
	$gutter: 15px;
	max-width: $grid-max-width + $gutter * 2;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter;
	padding-right: $gutter;

	@include media-query($medium-up) {
		$gutter: 30px;
		max-width: $grid-max-width + $gutter * 2;
		padding-left: $gutter;
		padding-right: $gutter;
	}
	@include media-query($large-up) {
		$gutter: 50px;
		max-width: $grid-max-width + $gutter * 2;
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

@mixin row {
	display: flex;
	justify-content: space-between;
}

@mixin row-gutters {
	margin-left: -$grid-gutter / 2;
	margin-right: -$grid-gutter / 2;
}

@mixin column {
	flex-grow: 1;
}

@mixin column-gutters {
	padding-left: $grid-gutter / 2;
	padding-right: $grid-gutter / 2;
}

@mixin section-margins {
	@include margin-top( 40, 70, 100, 132 );
	@include margin-bottom( 40, 70, 100, 132 );
}