.rte {
  margin: 0;

  img {
    height: auto;
  }

  table {
    table-layout: fixed;
  }

  p {
    margin-bottom: 1.25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin: 0 0 ($grid-gutter / 2) $grid-gutter;
  }

  ul {
    list-style: disc;
  }

  strong {
    font-weight: $font-body-weight-bold;
  }

  a {
    padding-bottom: 2px;
    border-bottom: 1px solid;

    &:hover {
      color: $color-body-text-hover;
    }
  }
}

// Allow table to scroll for tables in the RTE since we don't know
// how many columns they will contain. Class added by JS.
.rte-table {
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

// This class is wrapped around YouTube/Vimeo embeds in the RTE
// to make them responsive and prevent layout breaking
.rte__video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  height: auto;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// This class is wrapped around tables in the RTE
// to prevent layout breaking with a scrollable parent
.rte__table-wrapper {
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}
