html {
  font-size: 100%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  line-height: 1.375;
  color: $color-body-text;

  @include media-query($medium-up) {
  	font-size: 19px;
  	line-height: 1.3333
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

@mixin heading-font {
  font-family: $font-heading;
  line-height: 1.166667;
  font-weight: 400;
  letter-spacing: 0;
  font-style: normal;
}

@mixin heading-font-alt {
  font-family: $font-heading-alt;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 400;
  letter-spacing: 0;
  font-style: normal;
}

@mixin h1 {
  @include heading-font;
  @include font-size( 30, 36, 42, 48 );
  margin-bottom: 0.3333em;
  letter-spacing: 0.01em;
}

.h1 {
	@include h1;
}

@mixin h2 {
  @include heading-font-alt;
  @include font-size( 28, 30, 31, 32 );
  line-height: 1.1875;
}

.h2 {
	@include h2;
}

@mixin h2b {
  @include heading-font;
  @include font-size( 28, 30, 31, 32 );
  line-height: 1.25;
  margin-bottom: 1em;
}

@mixin h3 {
  @include heading-font;
  @include font-size( 16, 17, 18 );
  line-height: 1.375;
}

.h3 {
	@include h3;
}

@mixin h4 {
  @include heading-font-alt;
}

.h4 {
	@include h4;
}

@mixin h5 {
  font-size: 14px;
  font-weight: $font-body-weight-bold;
  margin-bottom: 1.25em;
}

.text-link {
	@include h4;
	border-bottom: 1px solid;
	padding-bottom: 1px;
  transition: color $transition-duration;

	&:hover {
		color: $color-body-text-hover;
	}
}

// @mixin h6 {
//   @include heading-font-alt;
//   @include font-size( 18, 19, 20, 21 );
//   font-style: italic;
//   letter-spacing: 0.05em;
// }

// @mixin arrow-link {
//   @include font-size( 13, 14, 15, 16 );
//   font-weight: $font-body-weight-bold;
//   text-transform: uppercase;
//   letter-spacing: 0.12em;

//   svg {
//     display: inline-block;
//     margin-left: 0.25em;
//     vertical-align: text-top;
//     margin-top: -0.05em;
//   }
// }

@mixin price {
  @include font-size( 15, 16, 17, 18 );
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

// .price-font {
//   @include price;
// }

// @mixin link-accent-color {
//   color: $color-accent;

//   &:hover {
//     color: $color-accent-hover;
//   }
// }

a {
  color: inherit;
  text-decoration: none;
  transition: color $transition-duration;

  &:hover {
    color: inherit;
  }
  &:focus {
    color: inherit;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}