<div class="page-info-page">
	<div class="inner">
		<div class="page-info-page__content">
			<h1 class="h1">{{ 'general.404.title' | t }}</h1>
			<div class="rte"><p>{{ 'general.404.subtext_html' | t }}</p></div>
		</div><!-- .page-info-page__content -->
	</div><!-- .inner -->
</div>