<div class="cart-page  account-page">

  <div class="inner">

    {% if cart.item_count > 0 %}
      <h1 class="cart-page__heading">{{ 'cart.general.title' | t }}</h1>

      <form action="/cart" method="post" novalidate>
        <table class="responsive-table  cart-table">
          <thead class="small--hide">
            <tr>
              <th colspan="2">{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody>

            {% for item in cart.items %}

            {% comment %}

            Cart Item Template
            =====================
            The data-label attributes on <td> elements are mobile-friendly
            helpers used for responsive-table labels
            {% endcomment %}

              <tr class="responsive-table-row">

                <td data-label="{{ 'customer.order.product' | t }}">

                  {% if item.image != blank %}
                    <a href="{{ item.url | within: collections.all }}">
                      {{ item | img_url: '240x240' | img_tag: item.title, 'cart-product-image' }}
                    </a>
                  {% endif %}

                </td>
                <td>
                  <p><a href="{{ item.url }}" class="h3">{{ item.product.title }}</a></p>

                  {% unless item.product.has_only_default_variant %}
                    <p>{{ item.variant.title }}</p>
                  {% endunless %}

{% comment %} (We want to skip the vendor since it's Heed for all products)
                  <p>{{ item.vendor }}</p>
{% endcomment %}

                  {%- assign property_size = item.properties | size -%}

                  {% if property_size > 0 %}
                    {% for p in item.properties %}

                      {% unless p.last == blank or p.first == 'discount_percentage' or p.first == 'subscription_id' or p.first == 'shipping_interval_unit_type' or p.first == 'shipping_interval_frequency' %}
                      {{ p.first }}:

                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      {% endunless %}

                      {% comment %}
                      From reCharge
                      {% endcomment %}
                      {% assign recurringchecked = "false" %} 
                      {% for p in item.properties  %}   
                      {% if p.first == 'shipping_interval_frequency' %}
                        {% assign frequency = p.last %}
                        {% assign recurringchecked = "true" %} 
                      {% endif %}
                      {% if p.first == 'shipping_interval_unit_type' %}
                        {% if frequency == '1'%}
                          {% if p.last == 'Days' %}
                            {% assign frequency_unit = 'Day' %}
                          {% elsif p.last == 'Months'%}
                            {% assign frequency_unit = 'Month' %}
                          {% elsif p.last == 'Weeks'%}
                            {% assign frequency_unit = 'Week' %}
                          {% endif %}
                        {% else %}
                          {% assign frequency_unit = p.last %}
                        {% endif %}
                      {% endif %}
                      {% endfor %}
                      {% comment %}
                      End reCharge
                      {% endcomment %}

                    {% endfor %}

                    {% comment %}
                    From reCharge
                    {% endcomment %}
                    {% if recurringchecked == "true" %}
                    <p>Recurring delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime </p>
                    {% endif %}
                    {% comment %}
                    End reCharge
                    {% endcomment %}


                  {% endif %}


                  <a class="text-link" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    {{ 'cart.general.remove' | t }}
                  </a>
                </td>
                <td data-label="{{ 'cart.label.price' | t }}">
                  <span class="h4">
                    {% if item.original_line_price != item.line_price %}
                      <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                      {{ item.price | money }}
                      <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                      <s>{{ item.original_price | money }}</s>
                    {% else %}
                      {{ item.price | money }}
                    {% endif %}
                  </span>
                </td>
                <td data-label="{{ 'cart.label.quantity' | t }}">
                  <input type="number"
                         name="updates[]"
                         id="updates_{{ item.key }}"
                         value="{{ item.quantity }}"
                         min="0"
                         aria-label="{{ 'cart.general.item_quantity' | t }}">
                </td>
                <td data-label="{{ 'cart.label.total' | t }}">
                  <span class="h4">{{ item.line_price | money }}</span>
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>

        {% if settings.cart_notes_enable %}
          <label class="cart-note-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea class="cart-note-input" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        {% endif %}

        <div class="cart-subtotal">
          <span class="cart-subtotal__label">{{ 'cart.general.subtotal' | t }}</span>
          <span class="cart-subtotal__amount">{{ cart.total_price | money }}</span>
        </div>

        {% if cart.total_discounts > 0 %}
          <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
        {% endif %}
        <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
        <p><input class="text-link" type="submit" name="update" value="{{ 'cart.general.update' | t }}"></p>
        <input 
          type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}"
          {% if cart_has_subscription_item == 'true' %}
            onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"
          {% endif %}
        >
      </form>
    {% else %}
      <h1 class="cart-page__heading">{{ 'cart.general.title' | t }}</h1>

      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <div class="rte">
          <p>{{ 'cart.general.empty' | t }}</p>
          <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
        </div>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      <div class="supports-no-cookies">
        <div class="rte">
          <p>{{ 'cart.general.cookies_required' | t }}</p>
        </div>
      </div>
    {% endif %}

  </div><!-- .inner -->
</div><!-- .cart-page -->

{% comment %}
reCharge Code
{% endcomment %}
{% include 'subscription-cart-footer' %}
