<div class="page-info-page">
	<div class="inner">
		<div class="page-info-page__content">

			<header class="info-page-intro">
			  <h1 class="info-page-intro__heading">{% if page.metafields.heed.heading %}{{ page.metafields.heed.heading }}{% else %}{{ page.title }}{% endif %}</h1>
			  

			  {% if page.metafields.heed.meta_info %}
			    <div class="info-page-intro__meta">{{ page.metafields.heed.meta_info }}</div>
			  {% endif %}

			  {% if page.metafields.heed.intro_copy %}
			    <div class="info-page-intro__copy">
			      <div class="rte">{{ page.metafields.heed.intro_copy }}</div>
			    </div>
			  {% endif %}

			</header>

			<section class="info-page-content">

			  {{ page.content }}

			</section>

		</div><!-- .page-info-page__content -->

	</div><!-- .inner -->
</div>