<div class="account-page">
  <div class="inner">
    <h1 class="account-page__heading">Hello, {{ customer.first_name }}</h1>

    <div class="account-page__section">

      <div class="account-page__section-column">

        <h2 class="account-page__section-heading">Profile</h2>

        <div class="account-form-text">
          <p>{{ customer.first_name }} {{ customer.last_name }}<br>
          {{ customer.email }}</p>
          <p><a href="/account/login#recover">Change / reset password</a></p>
          <p>{{ 'layout.customer.log_out' | t | customer_logout_link }}</p>
        </div>

      </div><!-- .account-page__section-column -->

      <div class="account-page__section-column">

        <h2 class="account-page__section-heading">{{ 'customer.account.details' | t }}</h2>

        {{ customer.default_address | format_address }}

        <div class="account-form-text">
          <a href="/account/addresses" class="text-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        </div>

      </div><!-- .account-page__section-column -->

    </div><!-- .account-page__section -->

    {% comment %}
    <!--BeginRechargeCode-->
    {% endcomment %}
    {% if customer.metafields.subscriptions.customer_string %}
      <div class="account-page__section">
        <h2 class="account-page__section-heading">Your Current Plan</h2>
        <p><a class="text-link" href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}subscriptions/">Manage Subscriptions</a></p>
      </div><!-- .account-page__section -->
    {% endif %}
    {% comment %}
    <!--EndRechargeCode-->
    {% endcomment %}

    <div class="account-page__section">

      <h2 class="account-page__section-heading">{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <table class="responsive-table">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class="responsive-table-row">
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endpaginate %}

    </div><!-- .account-page__section -->

    <div class="account-form-text">
      {% if settings.concierge_contact_link_text != blank and settings.concierge_contact_link != blank %}
        <a href="{{ settings.concierge_contact_link }}" target="_blank">{{ settings.concierge_contact_link_text }}</a>
      {% endif %}
    </div>

  </div><!-- .inner -->
</div><!-- .account-page -->