<div class="account-page  addresses-page">
  <div class="inner">
    <div class="account-page__content">
      {% paginate customer.addresses by 5 %}

        <div class="account-page__section">

          <header role="banner">
            <h1 class="account-page__heading">{{ 'customer.account.title' | t }}</h1>
            <div class="account-form-text">
              <button type="button" class="button address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
            </div>
          </header>

          <div class="account-form-text">
            <p>
              <a href="/account" class="text-link">{{ 'customer.account.return' | t }}</a>
            </p>
          </div>

          <div id="AddressNewForm" class="hide  address-new-form">
            {% form 'customer_address', customer.new_address %}
            <h2 class="account-page__section-heading">{{ 'customer.addresses.add_new' | t }}</h2>

            <div class="account-form-text">
              <label for="AddressFirstNameNew">
                {{ 'customer.addresses.first_name' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[first_name]"
                     id="AddressFirstNameNew"
                     value="{{ form.first_name }}"
                     autocapitalize="words">
            </div>

            <div class="account-form-text">
              <label for="AddressLastNameNew">
                {{ 'customer.addresses.last_name' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[last_name]"
                     id="AddressLastNameNew"
                     value="{{ form.last_name }}"
                     autocapitalize="words">
            </div>

            <div class="account-form-text">
              <label for="AddressCompanyNew">
                {{ 'customer.addresses.company' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[company]"
                     id="AddressCompanyNew"
                     value="{{ form.company }}"
                     autocapitalize="words">
            </div>

            <div class="account-form-text">
              <label for="AddressAddress1New">
                {{ 'customer.addresses.address1' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[address1]"
                     id="AddressAddress1New"
                     value="{{ form.address1 }}"
                     autocapitalize="words">
            </div>

            <div class="account-form-text">
              <label for="AddressAddress2New">
                {{ 'customer.addresses.address2' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[address2]"
                     id="AddressAddress2New"
                     value="{{ form.address2 }}"
                     autocapitalize="words">
            </div>

            <div class="account-form-text">
              <label for="AddressCityNew">
                {{ 'customer.addresses.city' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[city]"
                     id="AddressCityNew"
                     value="{{ form.city }}"
                     autocapitalize="words">
            </div>

            <div class="account-form-text">
              <label for="AddressCountryNew">
                {{ 'customer.addresses.country' | t }}
              </label>
              <div class="select-wrap"><select
                name="address[country]"
                id="AddressCountryNew"
                data-default="{{ form.country }}">
                {{ country_option_tags }}
              </select>{% include 'icon-down-arrow' %}</div>
            </div>

            <div id="AddressProvinceContainerNew" style="display: none">
              <div class="account-form-text">
                <label for="AddressProvinceNew">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <div class="select-wrap"><select
                  name="address[province]"
                  id="AddressProvinceNew"
                  data-default="{{ form.province }}">
                </select>{% include 'icon-down-arrow' %}</div>
              </div>
            </div>

            <div class="account-form-text">
              <label for="AddressZipNew">
                {{ 'customer.addresses.zip' | t }}
              </label>
              <input type="text"
                     class="text-input"
                     name="address[zip]"
                     id="AddressZipNew"
                     value="{{ form.zip }}"
                     autocapitalize="characters">
            </div>

            <div class="account-form-text">
              <label for="AddressPhoneNew">
                {{ 'customer.addresses.phone' | t }}
              </label>
              <input type="tel"
                     class="text-input"
                     name="address[phone]"
                     id="AddressPhoneNew"
                     value="{{ form.phone }}"
                     pattern="[0-9\-]*">
            </div>

            <div class="account-form-text">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </div>

            <div class="account-form-text">
              <input type="submit" class="button" value="{{ 'customer.addresses.add' | t }}">
            </div>
            <div class="account-form-text">
              <button type="button" class="address-new-toggle  text-link">
                {{ 'customer.addresses.cancel' | t }}
              </button>
            </div>

            {% endform %}

          </div><!-- #AddressNewForm -->

        </div><!-- .account-page__section -->

        <div class="account-page__section">

          <h2 class="account-page__section-heading">{{ 'customer.addresses.title' | t }}</h2>

          {% for address in customer.addresses %}

            {% if address == customer.default_address %}
              <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
            {% endif %}
            {{ address | format_address }}

            <div class="account-form-text">
              <button type="button" class="text-link  address-edit-toggle" data-form-id="{{ address.id }}">
                {{ 'customer.addresses.edit' | t }}
              </button>
              <button type="button" class="text-link  address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                {{ 'customer.addresses.delete' | t }}
              </button>
            </div>

            <div id="EditAddress_{{ address.id }}" class="hide">
              {% form 'customer_address', address %}

              <div class="account-form-text">
                <h4 class="account-page__section-heading">{{ 'customer.addresses.edit_address' | t }}</h4>
              </div>

              <div class="account-form-text">
                <label for="AddressFirstName_{{ form.id }}">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[first_name]"
                       id="AddressFirstName_{{ form.id }}"
                       value="{{ form.first_name }}"
                       autocapitalize="words">
              </div>

              <div class="account-form-text">
                <label for="AddressLastName_{{ form.id }}">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[last_name]"
                       id="AddressLastName_{{ form.id }}"
                       value="{{ form.last_name }}"
                       autocapitalize="words">
              </div>

              <div class="account-form-text">
                <label for="AddressCompany_{{ form.id }}">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[company]"
                       id="AddressCompany_{{ form.id }}"
                       value="{{ form.company }}"
                       autocapitalize="words">
              </div>

              <div class="account-form-text">
                <label for="AddressAddress1_{{ form.id }}">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[address1]"
                       id="AddressAddress1_{{ form.id }}"
                       value="{{ form.address1 }}"
                       autocapitalize="words">
              </div>

              <div class="account-form-text">
                <label for="AddressAddress2_{{ form.id }}">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[address2]"
                       id="AddressAddress2_{{ form.id }}"
                       value="{{ form.address2 }}"
                       autocapitalize="words">
              </div>

              <div class="account-form-text">
                <label for="AddressCity_{{ form.id }}">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[city]"
                       id="AddressCity_{{ form.id }}"
                       value="{{ form.city }}"
                       autocapitalize="words">
              </div>

              <div class="account-form-text">
                <label for="AddressCountry_{{ form.id }}">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <div class="select-wrap"><select
                  name="address[country]"
                  id="AddressCountry_{{ form.id }}"
                  class="address-country-option"
                  data-form-id="{{ form.id }}"
                  data-default="{{ form.country }}">
                  {{ country_option_tags }}
                </select>{% include 'icon-down-arrow' %}</div>
              </div>

              <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                <div class="account-form-text">
                  <label for="AddressProvince_{{ form.id }}">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <div class="select-wrap"><select
                    name="address[province]"
                    id="AddressProvince_{{ form.id }}"
                    data-default="{{ form.province }}">
                  </select>{% include 'icon-down-arrow' %}</div>
                </div>
              </div>

              <div class="account-form-text">
                <label for="AddressZip_{{ form.id }}">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                       class="text-input"
                       name="address[zip]"
                       id="AddressZip_{{ form.id }}"
                       value="{{ form.zip }}"
                       autocapitalize="characters">
              </div>

              <div class="account-form-text">
                <label for="AddressPhone_{{ form.id }}">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel"
                       class="text-input"
                       name="address[phone]"
                       id="AddressPhone_{{ form.id }}"
                       value="{{ form.phone }}"
                       pattern="[0-9\-]*">
              </div>

              <div class="account-form-text">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>

              <div class="account-form-text">
                <input type="submit" class="button" value="{{ 'customer.addresses.update' | t }}">
              </div>

              <div class="account-form-text">
                <button type="button" class="text-link  address-edit-toggle" data-form-id="{{ form.id }}">
                  {{ 'customer.addresses.cancel' | t }}
                </button>
              </div>

              {% endform %}

            </div>
          {% endfor %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}

        </div><!-- .account-page__section -->

      {% endpaginate %}

    </div><!-- .account-page__content -->

  </div><!-- .inner -->
</div><!-- .account-page -->