<div class="account-page  register-page">
  <div class="inner">
    <div class="account-page__content">

      <h1 class="account-page__header">{{ 'customer.register.title' | t }}</h1>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <label for="FirstName" class="label-hidden">
          {{ 'customer.register.first_name' | t }}
        </label>
        <input type="text"
          name="customer[first_name]"
          class="text-input"
          id="FirstName"
          placeholder="{{ 'customer.register.first_name' | t }}"
          autofocus
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

        <label for="LastName" class="label-hidden">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input type="text"
          name="customer[last_name]"
          class="text-input"
          id="LastName"
          placeholder="{{ 'customer.register.last_name' | t }}"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

        <label for="Email" class="label-hidden">
          {{ 'customer.register.email' | t }}
        </label>
        <input type="email"
          name="customer[email]"
          id="Email"
          class="text-input {% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">

        <label for="CreatePassword" class="label-hidden">
          {{ 'customer.register.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="CreatePassword"
          class="text-input {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.password' | t }}">

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button  account-submit-button">
        </p>

        <div class="account-form-text">
          <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
        </div>
      {% endform %}

    </div><!-- .account-page__content -->
  </div><!-- .inner -->
</div><!-- .account-page -->