$account-section-spacing: 45px;

.account-page {
	background-color: $light-background;
	@include padding-top( 50, 80, 100, 120 );
	@include padding-bottom( 50, 80, 100, 120 );
}

	.login-page {
		background-color: $darker-background;
	}

.account-page__content {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;

	.login-page &, .register-page &, .addresses-page & {
		max-width: 450px;

		.button {
			width: 100%;
		}
	}
}

.account-page__heading {
	@include h2;
	text-align: center;
	margin-bottom: 2em;
}

.account-page__section-heading {
	@include h3;
	margin-bottom: 1em;
}

.account-page__section {
	padding-bottom: $account-section-spacing;
	border-bottom: 1px solid $color-border-alt;
	margin-bottom: $account-section-spacing;

	@include media-query($medium-up) {
		@include clearfix;
	}
}

.account-page__section-column {

	@include media-query($small) {
		&:not(:last-child) {
			padding-bottom: $account-section-spacing;
			border-bottom: 1px solid $color-border-alt;
			margin-bottom: $account-section-spacing;
		}
	}

	@include media-query($medium-up) {
		width: 50%;
		float: left;

	}
}

.account-form-text {
	font-size: 16px;
	padding-top: 1em;
	padding-bottom: 1em;

	a {
		border-bottom: 1px solid;
		padding-bottom: 2px;

		&:hover {
			color: $color-accent;
		}
	}

	p {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.account-submit-button {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.text-input {
	display: block;
	width: 100%;
	border: 1px solid #C0AB99;
	height: 50px;
	padding: 12px 1em;
	margin-bottom: 10px;
	font-size: 16px;
}

.errors {
	color: red;
	font-size: 16px;
	margin-bottom: 0.5em;
}

.address-new-form {
	margin-top: $account-section-spacing;
}