$cart-section-spacing: 45px;

.cart-page {
	p {
		margin-bottom: $cart-section-spacing;
	}
	// small {
	// 	@include h4;
	// }
}

.cart-page__heading {
	@include h2b;
	margin-bottom: 1.5em;
}

.cart-table {
	margin-bottom: $cart-section-spacing;

	p {
		margin-bottom: 1em;
	}
}

.cart-product-image {
    min-width: 120px;
}

.cart-note-label {
	@include h3;
	margin-bottom: 0.5em;
	display: inline-block;
}

.cart-note-input {
	margin-bottom: $cart-section-spacing;
}

.cart-subtotal {
	margin-bottom: $cart-section-spacing;
}

.cart-subtotal__label {
	@include h3;
}

.cart-subtotal__amount {
	@include heading-font-alt;
	font-size: 18px;
	margin-left: 1em;
}