.page-info-page {
	@include padding-top( 40, 60, 70, 90 );
	@include padding-bottom( 40, 60, 70, 90 );
	background-color: $light-background;
}

.page-info-page__content {
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
}

.info-page-intro {
	@include margin-bottom( 30, 40, 50, 60 );
}

.info-page-intro__heading {
	@include heading-font;
	@include font-size( 28, 30, 31, 32 );
	line-height: 1.1875;
}

.info-page-intro__meta {
	margin-top: 0.75em;
	@include h4;
}

.info-page-intro__copy, .info-page-content__copy {
	letter-spacing: 0.01em;
	font-size: 16px;
	line-height: 1.375;
}

.info-page-intro__copy {
	margin-top: 1.15em;
}

.info-page-content {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 2em;
		@include h3;
		margin-bottom: 0.25em;
	}
}