.quiz-container {
	height: 80vh;

	@include media-query($small) {
		max-height: 500px;
	}

	@include media-query($medium-up) {
		height: 600px;
	}
	// @include media-query($large-up) {
	// 	height: 600px;
	// }
	@include media-query($widescreen) {
		height: 700px;
	}
}