.product-single {
	background: $light-background;
	@include padding-top( 35, 50, 60, 70 );
	@include padding-bottom( 35, 50, 60, 70 );
	font-size: 16px;
	letter-spacing: 0.01em;
}

// Layout

.product-single__layout {
	@include media-query($medium-up) {
		display: flex;
		align-items: flex-start;
	}
}

.product-single__basics {
	@include media-query($small) {
		padding-bottom: 25px;
		border-bottom: 1px solid;
		margin-bottom: 25px;
	}
	@include media-query($medium-up) {
		flex-basis: percentage(1/3);
		padding-right: 25px;
		border-right: 1px solid;
	    position: sticky;
	    top: 70px;
	}
}

.rc_select__frequency {
	@include media-query($medium) {
		font-size: 12px;
	}
}

.price-breakdown {
	border-bottom: 1px solid;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.weekly-price {
	@include h4;
	float: right;
}

.price-label {
	font-weight: $font-body-weight-bold;
}

.price-amount {
	@include heading-font-alt;
	font-size: 18px;
	float: right;
}

.product-cart-button {
	width: 100%;
	margin-top: 40px;
}

// Basics column

.product-single__details {
	@include media-query($medium-up) {
		flex-basis: percentage(2/3);
		padding-left: 25px;
	}
}

.product-single__pre-title {
	@include h4;
	margin-bottom: 1em;
}

.product-single__title {
	@include h2b;
	margin-bottom: 1.125em;
}

.product-single__sub-title {
	@include h3;
	margin-bottom: 1em;
}

.rc_block {
    margin-bottom: 25px;
}

.product-option-select {
	// margin-bottom: 25px;
}

.product-single__variant-select {
	margin-bottom: 25px;
}

// Details column

.product-single__image-area {
	margin-bottom: 25px;
}

// .product-single__thumbnail-image {
//   border: 2px solid transparent;

//   .active-thumbnail & {
//     border-color: $color-border;
//   }
// }

.product-single__description {
	margin-bottom: 25px;
}

.product-single__features {
	margin-bottom: 20px;
	border-bottom: 1px solid $color-border-alt;
}

.product-single__features-heading {
	@include h4;
	margin-bottom: 1em;
}

$feature-gutter: 12px;

.product-single__features-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$feature-gutter;
	margin-right: -$feature-gutter;
}

.product-single__feature {
	width: 76px;
	margin-left: $feature-gutter;
	margin-right: $feature-gutter;
	text-align: center;
	margin-bottom: 20px;
}

.product-single__feature-name {
	@include h5;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.product-single__ingredient-highlights {
}

.detail-section-heading {
	@include h3;
	margin-bottom: 1.25em;
}

.detail-section-content {
	padding-bottom: 16px;
	border-bottom: 1px solid $color-border-alt;

	h1, h2, h3, h4, h5, h6 {
		@include h4;
		margin-top: 16px;
		border-top: 1px solid $color-border-alt;
		padding-top: 16px;
		margin-bottom: 10px;

		&:first-child {
			margin-top: 0;
			border-top: none;
			padding-top: 0;
		}
	}
}

.accordion {
	p, ul, ol {
		margin-bottom: 1.25em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.accordion-section {
	border-bottom: 1px solid $color-border-alt;
}

.accordion-heading {
	@include h3;
	padding-top: 18px;
	padding-bottom: 18px;
	cursor: pointer;

	svg {
		margin-left: 1em;
	}
}

.accordion-content {
	display: none;
	padding-bottom: 16px;

	table {
		text-align: center;
		margin-bottom: 1.3333em;
	}
}