<section class="about-section-intro">

  <div class="inner">

    <div class="about-section-intro__content">

      <div class="about-section-intro__intro-text">

        <h1 class="h1">{{ section.settings.heading }}</h1>

        <div class="about-section-intro__copy">
          {{ section.settings.copy }}
        </div>

        {% if section.settings.button_link != blank %}
          <div class="">
            <a class="button--alt" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
          </div>
        {% endif %}

      </div><!-- .about-section-intro__intro-text -->

      <div class="info-blocks">
      	{% for block in section.blocks %}

          <div class="info-block  info-block--{{ forloop.index }}" {{ block.shopify_attributes }}>
            <div class="info-block__image">
              {{ block.settings.image }}
            </div>
          	<div class="info-block__hover">

    	        <h1 class="info-block__header">{{ block.settings.heading }}</h1>

  		      	<div class="info-block__copy">
  		      		<div class="rte">{{ block.settings.copy }}</div>
  		      	</div>

      		  </div><!-- .info-block__content -->
          </div><!-- .info-block -->

      	{% endfor %}
      </div><!-- .info-blocks -->

    </div><!-- .about-section-intro__content -->

  </div><!-- .inner -->

</section>

{% schema %}
  {
    "name": "About Intro",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "info_block",
        "name": "Info Block",
        "settings": [
          {
            "id": "image",
            "type": "html",
            "label": "SVG Code",
            "info": "Use 'hover' class for elements show appear on hover"
          },
          {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
          }
        ]
      }
    ]
  }
{% endschema %}