<section data-section-id="{{ section.id }}" data-section-type="header">
  {% if template == 'product' or template == 'page.quiz' or template.directory == 'customers' or template == 'cart' %}
    <header role="banner" class="minimal-site-header">
      <div class="inner">
        <a href="{{ section.settings.back_button_link }}" class="minimal-site-header__back-button">
          {% include 'icon-left-arrow' %} {{ section.settings.back_button_label }}
        </a>
      </div><!-- .inner -->
    </header>
  {% else %}

    {%- if section.settings.announcement_bar_enabled -%}
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        <div class="announcement-bar">
          <div class="inner">
            <div class="announcement-bar__text">
              {%- if section.settings.announcement_bar_link != blank -%}
                <a href="{{ section.settings.announcement_bar_link }}">
                  {{ section.settings.announcement_bar_text }}
                </a>
              {%- else -%}
                <p>{{ section.settings.announcement_bar_text }}</p>
              {%- endif -%}
            </div><!-- .announcement-bar__text -->
            <button type="button" class="announcement-bar__close  js-announcement-close">
              {% include 'icon-close' %}
              <span class="icon-fallback-text">Close</span>
            </button>
          </div><!-- .inner -->
        </div><!-- .announcement-bar -->
      {%- endif -%}
    {%- endif -%}

    <header role="banner" class="site-header  js-header">
      <div class="inner">
        <h1 class="site-logo">
          <a href="/" class="logo-image">
            {% include 'heed-logo' %}
          </a>
        </h1>
        <button class="menu-button  js-menu-open">
          {% include 'icon-menu' %}
          <span class="icon-fallback-text">Menu</span>
        </button>
      </div><!-- .inner -->

      <nav role="navigation" class="main-nav">
        <ul class="main-nav__list">
          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              <li class="main-nav__item  {% if link.active or link.child_active %}is-current{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>
                <ul>
                  {% for childlink in link.links %}
                    <li class="main-nav__item  {% if link.active or link.child_active %}is-current{% endif %}">
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="main-nav__item  {% if link.active or link.child_active %}is-current{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          {% if section.settings.accent_button_link != blank %}
            <li class="main-nav__accent-button">
              <a href="{{ section.settings.accent_button_link }}">{{ section.settings.accent_button_label }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </header>

    <nav role="navigation" class="mobile-nav">
      <div class="mobile-nav__content">
        <ul class="mobile-nav__list">
          <li>
            <h1 class="site-logo--mobile">
              <a href="/" class="logo-image">
                {% include 'heed-logo' %}
              </a>
            </h1>
          </li>

          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              <li class="mobile-nav__item  {% if link.active or link.child_active %}is-current{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>
                <ul>
                  {% for childlink in link.links %}
                    <li class="mobile-nav__item  {% if link.active or link.child_active %}is-current{% endif %}">
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="mobile-nav__item  {% if link.active or link.child_active %}is-current{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          <li>
            {% include 'social-media-links' %}
          </li>
          {% if section.settings.accent_button_link != blank %}
            <li class="mobile-nav__accent-button">
              <a class="button" href="{{ section.settings.accent_button_link }}">{{ section.settings.accent_button_label }}</a>
            </li>
          {% endif %}
        </ul>
        <button class="close-button  js-menu-close">
          {% include 'icon-close' %}
          <span class="icon-fallback-text">Close</span>
        </button>
      </div><!-- .mobile-nav__content -->
    </nav>

  {% endif %}

</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "richtext",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "<p>Announce something here!</p>",
        "info": "Use 'bold' for alternate accented text style"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "accent_button_label",
        "label": "Accent Button Label"
      },
      {
        "type": "url",
        "id": "accent_button_link",
        "label": "Accent Button Link"
      },
      {
        "type": "text",
        "id": "back_button_label",
        "label": "Alternate Header Back Button Label",
        "info": "Appears instead of full header on product and checkout pages"
      },
      {
        "type": "url",
        "id": "back_button_link",
        "label": "Alternate Header Back Button Link"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
