<section class="section-formula">
  <div class="inner">
    {% if section.settings.heading != blank %}<h1 class="section-formula__heading">{{ section.settings.heading }}</h1>{% endif %}

    <div class="section-formula__content">

      {% for block in section.blocks %}

        <div class="section-formula__block" {{ block.shopify_attributes }}>

          <div class="section-formula__image">
            {{ block.settings.image | img_url: '360x440' | img_tag }}
          </div><!-- .info-card__image -->

          <h2 class="section-formula__block-header">{{ block.settings.heading }}</h2>

          <div class="section-formula__block-copy">
            <div class="rte">
              {{ block.settings.copy }}
            </div>
          </div>

        </div><!-- .section-formula__block -->

        {% if forloop.index == 1 %}<div class="section-formula__plus">{% include 'math-plus' %}</div>{% endif %}
        {% if forloop.index == 2 %}<div class="section-formula__equals">{% include 'math-equals' %}</div>{% endif %}

      {% endfor %}

    </div><!-- .section-formula__content -->

    {% if section.settings.button_link != blank %}<a class="text-link" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>{% endif %}

  </div><!-- .inner -->
</section>

{% schema %}
  {
    "name": "Formula",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image",
            "info": "360x440. PNG with transparent background."
          },
          {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Formula",
        "category": "Modules",
        "blocks": [
          { 
            "type": "block"
          },
          {
            "type": "block"
          },
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}