<section class="section-steps  steps-section">
  <div class="steps-section__content">
    <div class="inner">
      {% if section.settings.heading != blank %}<h1 class="steps-section__heading">{{ section.settings.heading }}</h1>{% endif %}

      <div class="steps-section__steps">

        {% for block in section.blocks %}

          <div class="steps-section__step" {{ block.shopify_attributes }}>

            <div class="steps-section__number">{{ forloop.index }}</div>
 
            <h2 class="steps-section__step-header">{{ block.settings.heading }}</h2>

            <div class="steps-section__step-body">
              <div class="rte">
                {{ block.settings.copy }}
              </div>
            </div>

          </div><!-- .section-steps__step -->

        {% endfor %}

      </div><!-- .steps-section__steps -->

      {% if section.settings.button_link != blank %}<a class="text-link" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>{% endif %}

    </div><!-- .inner -->
  </div><!-- .steps-section__content -->
</section>

{% schema %}
  {
    "name": "Steps",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "step",
        "name": "Step",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Steps",
        "category": "Modules",
        "blocks": [
          { 
            "type": "step"
          },
          {
            "type": "step"
          },
          {
            "type": "step"
          }
        ]
      }
    ]
  }
{% endschema %}