<section class="section-instagram-feed">
  <div class="section-instagram-feed__content">
    <div class="inner">
      {% if section.settings.heading != blank %}<h1 class="section-instagram-feed__heading">{{ section.settings.heading }}</h1>{% endif %}
      <div class="section-instagram-feed__embed">
        <div id="insta-feed"></div>
      </div><!-- .section-instagram-feed__embed -->
    </div><!-- .inner -->
  </div><!-- .section-instagram-feed__content -->
</section>

{% schema %}
  {
    "name": "Instagram Feed",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "presets": [
      {
        "name": "Instagram Feed",
        "category": "Modules"
      }
    ]
  }
{% endschema %}