<section class="section-quote-carousel">

  <div class="inner">

    {% if section.settings.heading != blank %}<h1 class="section-quote-carousel__heading">{{ section.settings.heading }}</h1>{% endif %}

    <div class="quote-carousel  js-quote-carousel">
    	{% for block in section.blocks %}

        {% assign slideImage = block.settings.image %}

        <article class="quote-slide {% if slideImage != blank %}quote-slide--has-image  quote-slide--has-image--{% cycle 'odd', 'even' %}{% endif %} quote-slide--{{ forloop.index }}" {{ block.shopify_attributes }}>
        	<div class="quote-slide__content">
            {% if slideImage != blank %}
              <div class="quote-slide__image">            
                {{ block.settings.image | img_url: '390x300', crop: 'center', scale: 2 | img_tag }}
              </div><!-- .quote-slide__image -->
            {% endif %}
            <div class="quote-slide__text">
              {% if block.settings.quote != blank %}<div class="quote-slide__quote">{{ block.settings.quote }}</div>{% endif %}
              {% assign cite_title = block.settings.cite_title %}
              {% assign cite_name = block.settings.cite_name %}
              {% if cite_title != blank or cite_name != blank %}
                <div class="quote-slide__cite">
                  {% if cite_title != blank %}<span class="quote-slide__cite-title">{{ cite_title }}{% if cite_name != blank %},{% endif %}</span>{% endif %}
                  {% if cite_name != blank %}<span class="quote-slide__cite-name">{{ cite_name }}</span>{% endif %}
                </div>
              {% endif %}
            </div><!-- .quote-slide__text -->
    		  </div><!-- .quote-slide__content -->
        </article><!-- .quote-slide -->

      {% endfor %}

    </div><!-- .quote-carousel -->

    <div class="carousel-nav">
      <button class="slick-prev">{% include 'icon-left-arrow' %}</button>
      <div class="carousel-slide-count"></div><!-- .carousel-slide-count -->
      <button class="slick-next">{% include 'icon-right-arrow' %}</button>
    </div><!-- carousel-nav -->


  </div><!-- .inner -->

</section>

{% schema %}
  {
    "name": "Quote Carousel",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "max_blocks": 30,
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "id": "quote",
            "type": "richtext",
            "label": "Quote"
          },
          {
            "id": "cite_title",
            "type": "text",
            "label": "Citation - Title"
          },
          {
            "id": "cite_name",
            "type": "text",
            "label": "Citation - Name"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image",
            "info": "780x600"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Quote Carousel",
        "category": "Modules",
        "blocks": [
          { 
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}