.about-section-intro {
	text-align: center;
	background-color: $light-background;

	@include media-query($large-up) {
		position: relative;
	}
}

.about-section-intro {
	@include padding-top( 96, x, 210 );
	@include padding-bottom( 96, x, 160 );
}

.about-section-intro__content {
	@include media-query($large-up) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.about-section-intro__intro-text {
	max-width: 572px;
	margin-left: auto;
	margin-right: auto;

	@include media-query($medium-down) {
		margin-bottom: 36px;
	}
}

.about-section-intro__copy {
	margin-bottom: 25px;
}

.info-blocks {
	@include media-query($medium) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.info-block {
	@include media-query($small) {
		max-width: 200px;
	}
	@include media-query($medium-down) {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
	@include media-query($medium) {
		flex-basis: 50%;
	}
	@include media-query($large-up) {
		cursor: default;
		position: absolute;

		.info-block__copy {
			width: 180px;
		}

		&--1, &--4, &--5 {
			display: flex;
			align-items: center;
			text-align: left;

			.info-block__copy {
				width: 220px;
			}
		}

		&--1 {
			top: 10%;
			left: 46%;

			.info-block__image {
				margin-right: 16px;
			}
		}
		&--2 {
			right: 79%;
			top: 25%;

			.info-block__image {
				margin-bottom: 10px;
			}
		}
		&--3 {
			left: 78%;
			top: 26%;

			.info-block__image {
				margin-bottom: 10px;
			}
		}
		&--4 {
			right: 82%;
			bottom: 8%;
			transform: translateX(50%);

			.info-block__image {
				order: 2;
				margin-left: 16px;
			}
		}
		&--5 {
			left: 84%;
			bottom: 8%;
			transform: translateX(-50%);

			.info-block__image {
				margin-right: 16px;
			}
		}
	}
}


.info-block__image {
	cursor: pointer;

	@include media-query($medium-down) {
		margin-bottom: 10px;
	}

	// @include media-query($large-up) {
	// 	animation: pulse 3s linear;
	// }

	.hover {
		opacity: 0;
		transition: $transition-duration $transition-timing opacity;

		@include media-query($large-up) {
			animation: pulse 4s ease-in-out;
		}

	}
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.info-block__hover {
	@include media-query($medium) {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-query($large-up) {

	.info-block__hover {
		opacity: 0;
		transition: $transition-duration $transition-timing opacity;
	}

	.info-block:hover {
		.hover {
			opacity: 1;
		}
		.info-block__hover {
			opacity: 1;
		}
		.info-block__image {
			// animation-delay: 5000s;
		}
	}
}

.info-block__header {
	@include h3;
	margin-bottom: 0.75em;
}

.info-block__copy {
	font-size: 14px;
}