.site-footer {
	@include padding-top( 34, 40, 48, 56 );
	@include padding-bottom( 30, 32, 34, 35 );
	background-color: $light-background;

	@include media-query($small) {
		text-align: center;

		.newsletter-signup-form {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.site-footer__layout {
	@include media-query($medium-up) {
		@include row;
		@include row-gutters;
		flex-wrap: wrap;
	}
}

.site-footer__column {
	margin-bottom: 30px;

	@include media-query($medium-up) {
		@include column;
		@include column-gutters;
		flex-basis: 50%;
		padding-top: 28px;

		&--first {
			padding-top: 0;
		}
	}
	@include media-query($large-up) {
		flex-basis: auto;
	}
}

.footer-logo {
	margin-bottom: 18px;

	svg {
		width: 254px;
		height: 45px;
	}
}

.footer-nav {
	@include h4;
	line-height: 1.36;

	a {
		&:hover {
			color: $color-body-text-hover;
		}
		@include media-query($small) {
			display: inline-block;
			padding-top: 0.68em;
			padding-bottom: 0.68em;
		}
	}
}

.site-footer__column-heading {
	@include h5;
}

.social-media-links {
	@include media-query($medium-up) {
		.site-footer & {
			justify-content: flex-start;

			li {
				margin-left: 0;
				margin-right: 31px;

				&:last-child {
					margin-right: 0;
				}
			}
			svg {
				height: 16px;
				width: 16px;
			}
		}
	}
}

.address {
	font-size: 14px;
	line-height: 1.36;
	margin-bottom: 1.5em;
}

.email {
	@include h4;

	a {
		border-bottom: 1px solid;
		padding-bottom: 3px;

		&:hover {
			color: $color-body-text-hover;
		}
	}
}