.announcement-bar {
	background-color: $darker-background;
	position: relative;
}

.announcement-bar__text {
	padding: 8px 22px;
	text-align: center;
	font-weight: $font-body-weight-bold;
	font-size: 14px;

	strong {
		@include heading-font-alt;
		text-transform: uppercase;
	}
}

.announcement-bar__close {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY( -50% );

	svg {
		width: 12px;
		height: 12px;
	}
}

.site-header {
	position: relative;
	height: 50px;
	background-color: $color-body;
}

.floating-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

    // will-change: transform;
    transition: transform 200ms linear;
    transform: translateY(-100%);

	&.headroom--pinned {
		transform: translateY(0%);
	}
	&.headroom--top, &.headroom--unpinned {
	    transform: translateY(-100%);
	}
}

.menu-button {
	padding: 15px;
	position: absolute;
	right: 0;
	top: 0;

	svg {
		margin-top: 2px;
		margin-bottom: 2px;
		vertical-align: middle;
	}

	@include media-query($medium-up) {
		display: none;
	}
}

.main-nav {
	position: absolute;
	right: 0;
	top: 0;

	@include media-query($small) {
		display: none;
	}
}

.site-logo {
	padding-top: 7px;
}

.main-nav__list {
	display: flex;
	@include heading-font-alt;
}

.main-nav__item {
	a {
		display: inline-block;
		height: 50px;
		padding: 18px 48px 18px;
		transition: background-color $transition-duration;

		&:hover {
			background-color: $light-background;
		}
	}
	&.is-current a:after {
		content: "";
		display: block;
		border-bottom: 1px solid;
		width: 100%;
	}
}

.main-nav__accent-button {
	@extend .main-nav__item;

	a {
		background-color: $color-accent;
		font-family: $font-body;
		font-weight: $font-body-weight-bold;

		&:hover {
			background-color: $color-accent-hover;
		}
	}
}

.mobile-nav {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $color-body;
	opacity: 0;
	visibility: hidden;
	transition: opacity 400ms, visibility 0ms 400ms;
	display: flex;
	align-items: center;
	justify-content: center;


	.menu-is-open & {
		opacity: 1;
		visibility: visible;
		transition-delay: 0ms;
	}

	@include media-query($medium-up) {
		display: none;
	}
}

/*body*/.menu-is-open {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.mobile-nav__content {
	padding: 15px;
	height: 100%;
	width: 100%;
}

.mobile-nav__list {
	text-align: center;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-transform: uppercase;
}

.site-logo--mobile {
	svg {
		width: 222px;
		height: 40px;
	}
}

.mobile-nav__item {
	@include heading-font-alt;
	font-size: 18px;
}

.mobile-nav__accent-button {
	// switched to just use "button" class on child "a" element
	// @extend .main-nav__accent-button;
	// font-size: 16px;
	// line-height: 1.125;

	// a {
	// 	height: auto;

	// 	@include media-query($small) {
	// 		width: 100%;
	// 	}
	// }
}

.close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 18px;
}

.minimal-site-header {
	@extend .site-header;
}

.minimal-site-header__back-button {
	@include h4;
	height: 50px;
	line-height: 50px;

	&:hover {
		color: $color-accent;
	}

	svg {
		vertical-align: middle;
		margin-right: 0.75em;
		margin-bottom: 1px;
	}
}