.home-section-hero {
	@include background-cover;
	display: flex;
	align-items: center;
	position: relative;
	min-height: 400px;
	background-color: $light-background;

	@include media-query($small) {
		background-position: right;

		&:after {
			content: "";
			position: absolute;
			background-color: fade-out( #EEE, 0.4 );
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@include media-query($medium-up) {
		height: 54vw;
		min-height: 400px;
		max-height: 100vh;
	}

	@include media-query($large-up) {
		min-height: 500px;
	}
}

.home-section-hero__content {
	width: 100%;
    position: relative;
    z-index: 1;
}

.home-section-hero__text-area {
	padding-top: 3em;
	padding-bottom: 3em;

	@include media-query($small) {
		text-align: center;
	    max-width: 32em;
	    margin-left: auto;
	    margin-right: auto;
	}

	@include media-query($medium-up) {
		width: 50%;
	}
}

.home-section-hero__copy {
	margin-bottom: 25px;
}