.section-quote-carousel {
	@include padding-top( 36, 48, 60, 72 );
	@include padding-bottom( 55 );
	background-color: $darker-background;
}

.section-quote-carousel__heading {
	@include h4;
	text-align: center;
	@include margin-bottom( 36, 48, 60, 72 );
}

.quote-slide {
	@include margin-bottom( 30, 45 );
}

.quote-slide__content {
	@include media-query($medium-up) {
		@include row;
		align-items: center;
	}
}

.quote-slide__text, .quote-slide__image {
	@include media-query($medium-up) {
		@include column;
		flex-basis: 50%;
	}
}

.quote-slide__image {
	@include media-query($small) {
		margin-bottom: 22px;
	}

	@include media-query($medium-up) {

		.quote-slide--has-image--odd & {
			order: 2;
		}

		// .responsive-image__wrapper {
		// 	width: 104%; // slide overflow: hidden prevents this from working
		// }
	}
}

.quote-slide__text {
	@include media-query($small) {
		padding-left: 4%;
		padding-right: 4%;
	}
	@include media-query($medium-up) {
		max-width: 34em;
		margin-left: auto;
		margin-right: auto;

		.quote-slide--has-image--odd & {
			padding-left: 1%;
			padding-right: 7%;
		}
		.quote-slide--has-image--even & {
			padding-left: 7%;
			padding-right: 1%;
		}
	}
}

.quote-slide__quote {
	@include heading-font;
	@include font-size( 24, x, 28, 32 );
	line-height: 1.25;
	text-transform: none;
	margin-bottom: 1em;
}

.quote-slide__cite {
	font-size: 14px;
}

.quote-slide__cite-title {
	font-weight: $font-body-weight-bold;
}

.quote-slide__cite-name {
	@include h4;
}

.carousel-nav {
	margin: 0 auto;
	width: 110px;
	@include h4;
	display: flex;
	justify-content: space-between;

	// .slick-prev {
	// 	float: left;
	// }
	// .slick-next {
	// 	float: right;
	// }
}

.carousel-slide-count {
	text-align: center;
	display: inline-block;
}