.section-instagram-feed {
	@include padding-top( 38, 45, 50 );
	@include padding-bottom( 72, 90, 100 );
}

.section-instagram-feed__heading {
	@include h2;
	text-align: center;
	margin-bottom: 1.5em;
}