.section-formula {
	background-color: $light-background;
	text-align: center;
	@include padding-top( 37, 45, 54, 62 );
	@include padding-bottom( 77, 82, 87, 92 );
}

.section-formula__heading {
	@include h2;
	margin-bottom: 1.25em;
}

.section-formula__content {
	@include media-query($medium-up) {
		@include row;
		@include row-gutters;
		justify-content: space-around;
	}
}

.section-formula__block {
	max-width: 215px;
	position: relative;

	@include media-query($small) {
		margin: 0 auto 30px;
	}

	@include media-query($medium-up) {
		@include column;
		@include column-gutters;
	}
}

.section-formula__image {
	margin-bottom: 22px;

	@include media-query($small) {
		padding-left: 12%;
		padding-right: 12%;
	}

	@include media-query($medium) {
		padding-left: 6%;
		padding-right: 6%;
	}

}

.section-formula__block-header {
	@include h3;
	margin-bottom: 0.6em;
}

.section-formula__block-copy {
	font-size: 16px;
}

.section-formula__plus, .section-formula__equals {
	margin-bottom: 30px;

	@include media-query($medium-up) {
		margin-top: 98px;
	}
}

.section-formula__equals {
}