.section-text-cta {
	background-color: $light-background;
    background-repeat: repeat;
    background-size: 24px;
    background-position: 4px 4px;
}

.section-text-cta__content {
	@include padding-top( 120, 130, 140, 145 );
	@include padding-bottom( 120, 130, 140, 145 );
}

.section-text-cta__text-area {
	text-align: center;
}

.section-text-cta__text {
	@include h1;
	margin-bottom: 0.75em;
	max-width: 12em;
	margin-left: auto;
	margin-right: auto;
}

