.steps-section {
	text-align: center;
	@include padding-top( 37, 45, 54, 63 );
	@include padding-bottom( 77, 82, 87, 92 );
}

.steps-section__heading {
	@include h2;
	margin-bottom: 2em;
}

.steps-section__steps {
	margin-bottom: 3.33333em;

	@include media-query($medium-up) {
		@include row;
		@include row-gutters;
		justify-content: space-around;
	}
}

.steps-section__step {
	max-width: 215px;

	@include media-query($small) {
		margin: 0 auto 30px;
	}

	@include media-query($medium-up) {
		@include column;
		@include column-gutters;
	}
}

.steps-section__number {
	font-size: 16px;
	width: 2em;
	height: 2em;
	line-height: 2em;
	border: 1px solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 1em;
}

.steps-section__step-header {
	@include h3;
	margin-bottom: 0.6em;
}

.steps-section__step-body {
	font-size: 16px;
}