.section-info-cards {
  &:after {
    content: "";
    display: block;
    height: 25vh;
  }
}

.info-card {
  min-height: 125vh;
  position: sticky;
  top: 0;
  background-color: #FEFEFE;

  &:last-child {
    min-height: 100vh;
  }
}

.info-card--1 {
}

.info-card--2 {
  background-color: $light-background;
}

.info-card--3 {
  background-color: $darker-background;
}

.info-card__content {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  @include padding-top( 28, 33, 38, 42 );
  @include padding-bottom( 28, 33, 38, 42 );
}

.info-card__header {
  @include media-query($small) {
    text-align: center;
  }
}

.info-card__body {
  margin-top: 5vh;
  margin-bottom: 5vh;

  @include media-query($medium-up) {
    display: flex;
    align-items: center;
  }
}

.info-card__copy {
  @include media-query($medium-up) {
    flex-basis: 50%;
    flex-shrink: 0;
    padding-left: 5%;
    padding-right: 30px;
  }
}

.info-card__image {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @include media-query($small) {
    padding: 20px 14% 0
  }
  @include media-query($medium-up) {
    flex-basis: 50%;
    flex-shrink: 0;
    padding-left: 6%;
    padding-right: 6%;
  }
}