.section-text-callout {
	background-color: $light-background;
    background-repeat: repeat;
    background-size: 36px 35px;
    background-position: 0 0;
    border: 14px solid $light-background;
}

.section-text-callout__content {
	@include padding-top( 120, 128, 135, 142 );
	@include padding-bottom( 124, 129, 136, 143 );
	border-bottom: 1px solid $darker-background;
	border-right: 1px solid $darker-background;
}

.section-text-callout__text-area {
	text-align: center;
}

.section-text-callout__text {
	@include heading-font;
	@include font-size( 40, 48, 56, 64 );
	margin-bottom: 0.3333em;
	letter-spacing: 0.01em;
	max-width: 12em;
	margin-left: auto;
	margin-right: auto;
}