// Basic colors
$white: #FFF;
$print-black: #323232;
$beige: #ECE4DE;
$light-beige: #F6F2F1;
$dark-beige: #DCCFC4;
$yellow: #FFC646;
$dark-yellow: #FFB334;

// Accent colors
$color-accent: $yellow;
$color-accent-hover: $dark-yellow;

// Text colors
$color-body-text: $print-black;
$color-body-text-hover: $color-accent-hover;

// Background colors
$color-body: $white;
$darker-background: $beige;
$light-background: $light-beige;

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-border: $color-body-text;
$color-border-alt: $dark-beige;

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: 'Ostia Antica', sans-serif;
$font-heading-weight: 400;
$font-heading-alt: 'Apercu Mono', sans-serif;
$font-body: 'Apercu', sans-serif;
$font-body-weight: 400;
$font-body-weight-bold: 700;
$font-body-style: normal;

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Images
$background-image-dots: var(--background-image-dots);

// Grid
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-max-width: 925px;

$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);
